@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Let's exploit some CSRF in a safe and legal way =) <br />
        Sign in to this site with username Elvis and password P@ssw0rd <br />
        Create a link that will sign Elvis out when he visits it in the same browser <br />
        Sign in again<br />
        Create a link that changes Elivs email when he visits it in the same browser </p>
</div>
